body{
    background-image: url("images/CarWall_hd_1920x1200.jpg");
    overflow: hidden;
    /*font-family: "Arial Black", Gadget, sans-serif;*/
    font-family: Arial,Helvetica,sans-serif;
}

wm-window{
    border: 7px solid darkgray;
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 7px 2px rgb(40, 40, 40);
    border-radius: 5px 5px 0 0;
    background-color: darkgray;
}
title-bar {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    cursor: default;
    /*! border-bottom: 1px solid gray; */
    /*! background: linear-gradient(darkgray, gray); */
    background-color: darkgray;
    top: -3px;
    /*! position: relative; */
}
title-bar, menu-bar{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
title-text{
    margin: 5px;
    display: inline-block;
}
title-button{
    display: inline-block;
    float: right;
}
title-button div{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    /*! background-color: #01d1c9; */
    float: none;
    cursor: default;
    padding-top: 2px;
    padding-bottom: 5px;
    margin: 0px 0px 0px 0px;
    
    border: 0;
}
title-button div:hover{
    background-color: lightgray;
    
}
window-content{
    display: block;
    width: 350px;
    height: 350px;
    min-height: 100px;
    min-width: 200px;
    background-color: white;
    /*height: 100%;*/
    overflow-y: auto;
    border: 1px solid gray;
}
window-resizer{
    display: block;
    background-color: darkgray;
    width: 10px;
    height: 10px;
    bottom: 0px;
    position: relative;
    right: 0px;
    position: absolute;
    cursor: se-resize;
}
content-wrapper{
    /*display: flex;*/
    height: 100%;
    width: 100%;
}
window-overlay{
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    left: 0px;
    position: absolute;
    height: calc(100% - 30px);
    width: 100%;
    top: 30px;
    display: none;
}

.template
{
    display: none;
}

menu-bar{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 40px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: lightgray;
    z-index: 10000;
}
nav-link, nav-window{
    padding:  10px;
    display: inline-block;
    min-width: 50px;
    cursor:default;
    text-align: center;
}
nav-space{
    display: inline-block;
    padding: 10px;
    width: 30px;
}
nav-link:hover, nav-window:hover{
    background-color: rgba(100, 100, 100, 0.8);
}
app-menu{
    position: fixed;
    top: 40px;
    left: 0px;
    display: none;
    background-color: rgba(50, 50, 50, 0.9);
    z-index: 10000;
    border: 1px solid rgba(40, 40, 40, 0.9);
}
app-menu-item, app-clock{
    display: block;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: default;
    
}
app-menu-item:hover{
    background-color: rgba(100, 100, 100, 0.8);
}

app-clock{
    float: right;
    display: inline-block;
    padding-top: 10px;
}
app-fullscreen{
    padding: 8px 15px;
    display: inline-block;
    cursor: default;
    float: right;
}
app-fullscreen:hover{
    background-color: rgba(100, 100, 100, 0.8);
    
    
}

gui-button{
    display: inline-block;
    padding: 3px 13px;
    border: 1px solid darkgray;
    /*background-color: lightgrey;*/
    margin: 3px;
    cursor: pointer;
    border-radius: 2px;
}

gui-button:hover{
    background-color: lightgray;
}

tr, table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    width: 100%;
}

tr:nth-child(2n+1) {
    background-color: #DDDDDD;
}

.clickable tr{
    cursor: pointer;
}

.clickable tr:hover{
    background-color: #AAAAAA;
}

new-app-menu{
    position: fixed;
    border: 1px solid white;
    top: 40px;
    background-color: rgba(50, 50, 50, 0.95);
    z-index: 10000;
    border: 1px solid rgba(40, 40, 40, 0.95);
    display: none;
}
new-app-cat{
    background-color: rgba(50, 50, 50, 0.95);
    border: 1px solid rgba(40, 40, 40, 0.95);
    display: none;
    position: absolute;
    left: calc(99%);
    top: -1px;
}
new-app-item, new-app-title{
    display: block;
    padding: 6px 10px;
    width: 200px;
    cursor: default;
}

new-app-folder:hover new-app-cat{
    display: inline-block;
}
new-app-folder{
    display: block;
    position: relative;
}
new-app-folder:hover > new-app-item{
    background-color: rgba(100, 100, 100, 0.95);
}
new-app-item:hover{
    background-color: rgba(100, 100, 100, 0.95);
}